body{
	background-image: url("2a8faa16ea6b18772d290cc8c86fc65e.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	min-height: 100%;
}
.d-sm-none img{
	border-radius: 5px 5px 5px 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;
}



h3{
	margin-left: 25px;
	font-weight: bold;
}

p {
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.center1 {
  padding: 70px 0;
  text-align: center;
}

.center2{
	padding: 20px 0;
	vertical-align: middle;
}

#block{
	height: 304.5px;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
	margin-left: 25px;
	margin-right: 25px;
}


#block1{
	height: 330px;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#block3
{
	margin-left: 5%;
	margin-right: 25%;
	height: 304.5px;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}

#block4
{
	margin-left: 25%;
	margin-right: 5%;
	height: 304.5px;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}